.alt {
    text-align: center;
    font-family: Sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(to right, #232941, #18171C);
}


/* Knapper på toppen */
.om_meg, .mine_prosjekter, .kontakt_meg {
    padding: 15px 25px;
    border: 1px white solid;
    background-color: transparent;
    font-size: 15px;
}

.om_meg {
    color:aqua;
}


.om_meg:hover, .mine_prosjekter:hover, .kontakt_meg:hover {
    background-color: white;
}



.navn {
    color: aliceblue;
}
.bilde {
    height: 500px;
    width: auto;
    opacity: 0.7;
}
  .bilde:hover {
    opacity: 1.0;
    
  }
.intro {
    padding-left: 40%;
    padding-right: 40%;
}